.left {
  float: left;
  padding: 30px;
  background-color: burlywood;
}
.right {
  float: right;
  padding: 30px;
  background-color: burlywood;
  width: 40%;
  /* text-align: center; */
}
.movie-rating {
  float: right;
}

.showLists {
  border-bottom: 2px solid green;
  background-color: white;
  color: black;
  margin-top: 10px;
}

.showLists > h3 {
  margin-left: 10px;
}
.showLists > p {
  margin-left: 10px;
}
.movie-rating {
  margin-right: 10px;
}
